html, body {
    background: #ffffff;
    font-size: 13px;
    height: 100vh;
    min-height: 100vh;
    color: #3a4a4a;
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amaranth", sans-serif;
    letter-spacing: .1em;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-variant: small-caps;
    margin-bottom: 2rem;
}

a, a:visited, a:hover {
    color: #3a4a4a;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.header {
    background: #faf7f6;
}

.content {
    background: #f1ebe8;
}

.header, .content {
    padding: 2rem;
}

.full-height {
    height: 100%;
}

.card-text {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.8em;
}

.card-title {
    font-variant: small-caps;
    font-weight: bold;
}

.me-description {
    font-size: 1.5em;
    line-height: 1.7em;
    font-variant: small-caps;
    text-align: justify;
}

.me-social {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.me-social a {
    padding: .3em;
}

.me-social a:first-child {
    padding-left: 0em;
}

.me-social a:last-child {
    padding-right: 0em;
}

.read-more {
    text-align: right;
    text-transform: uppercase;
}

.middle {
    padding-top: 15vh;
}

@media (min-width: 992px) {
    .middle {
        padding-top: 20vh;
    }

    .me {
        margin-top: 5rem;
    }
}
