<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
  <head>
    {{ partial "head.html" . }}

    <link rel="stylesheet"
          href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/home.css">
  </head>
  <body>
    <div class="container">
      <div id="links" class="row">
        <div class="item col-sm-6 col-md-6 col-lg-3">
          <a href="mailto:matiasaguirre@gmail.com">
            <i class="fa fa-envelope-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="item col-sm-6 col-md-6 col-lg-3">
          <a href="https://github.com/omab">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="item col-sm-6 col-md-6 col-lg-3">
          <a href="https://twitter.com/linuxaddict">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="item col-sm-6 col-md-6 col-lg-3">
          <a href="https://uy.linkedin.com/in/matiasaguirre">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div id="articles" class="row">
        <div class="item col-sm-12">
          <h2>Articles</h2>
        </div>
        <div class="item col-sm-12">
          {{ range .Data.Pages }}
          <div class="row">
            <div class="item col-sm-8 title">
              {{ if .Draft }}[draft]{{ end }} <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            <div class="item col-sm-4 date">
              <a href="{{ .Permalink }}">
                {{ .Date.Format "January 2, 2006" }}
              </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
